<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login</title>

    <link rel="icon" href="../../favicon.ico?v=1" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/login.css">

    <script>
        document.addEventListener("DOMContentLoaded", function(){
            if (Number("<%= error %>") === 1) {
                document.getElementsByClassName('invalid-data-error')[0].style.display = "block";
            }
        });
    </script>
</head>
<body>
    <div id="container">
        <form method="POST" name="login">
            <h1>Login</h1>

            <div class="invalid-data-error">⫸ Invalid username or password. Try again!</div>

            <label><b>Username: </b></label>
            <input type="text" placeholder="Your username..." name="username" required
                   pattern="[A-Za-z0-9]{6,32}"
                   title="1. Allowed input language: Latin&#013;2. Other characters allowed: numbers&#013;3. Minimum length: 6 characters&#013;4. Maximum length: 32 characters">

            <label><b>Password: </b></label>
            <input type="password" placeholder="Your password..." name="password" required
                   pattern="^(?!.*['`\u0022\[\]{}()\|<>,.?\/;:\\])(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,32}$"
                   title="1. At least 1 uppercase&#013;2. At least 1 lowercase&#013;3. At least 1 number&#013;4. At least 1 special symbol --> !@#$%^&*_=+-&#013;5. Minimum 8 chars and maximum 32 chars">

            <input type="submit" value='LOGIN'>
        </form>
    </div>
</body>
</html>
